<h4 class="text-primary"><b>Job Posting Registration</b></h4>
<p>As part of the 1st Anniversary Celebration Treat of the Seafarer Center, I/We hereby agree to place online job postings in the Jobs Marino Go website for FREE according to the following arrangements:</p>
<br />
<form role="form" ng-submit="addJob()">
	<div class="row" ng-show="superUser()">
		<div class="col-md-12 col-lg-12">
			<div class="form-group">
				<h4>Select Company</h4>
				<p>The quick brown fox jumps over the lazy dog.</p>
				<div class="col-md-1 col-lg-1">
					<img src="img/company-logo.png" />
				</div>
				<div class="col-md-11 col-lg-11">
					<select required ng-model="company" class="form-control">
						<option value="">- Select Company -</option>
						<option ng-repeat="c in companies" value="{[c.id]}">{[c.name]}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="form-group">
				<h4>Category of Job Posting</h4>
				<div class="radio input-control">
				  	<label>
				    	<input ng-model="category" type="radio" value="urgent">
				    	<span style="font-size: 15px;">Urgent</span> <span class="text-muted">(for deployment within two weeks, valid for two weeks)</span>
				  	</label>
				</div>
				<div class="radio">
				  	<label>
				    	<input ng-model="category" type="radio" name="category" value="deployment">
				    	<span style="font-size: 15px;">Deployment</span> <span class="text-muted">(for deployment within a month, valid for one month)</span>
				  	</label>
				</div>
				<div class="radio">
				  	<label>
				    	<input ng-model="category" type="radio" name="category" value="pooling">
				    	<span style="font-size: 15px;">Pooling</span> <span class="text-muted">(for deployment after a month, valid for two months)</span>
				  	</label>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="form-group">
				<h4>Job Posting Format</h4>
				<p>Please provide the following basic information per job post</p>
				<div class="row">
		            <div class="col-md-12 col-lg-12">
		            	<div class="form-group">
		            		<select required ng-model="rank" class="form-control">
		            			<option value="">- Select Rank -</option>
		            			<option ng-repeat="r in ranks" value="{[r.id]}">{[r.name]}</option>
		            		</select>
		            	</div>
		            </div>
	            </div>
				<div class="row">
		            <div class="col-md-6 col-lg-6">
		            	<div class="form-group">
		            		<select required ng-model="department" class="form-control">
		            			<option value="">- Select Department -</option>
		            			<option ng-repeat="d in departments" value="{[d.id]}">{[d.name]}</option>
		            		</select>
		            	</div>
		            </div>
		            <div class="col-md-6 col-lg-6">
		            	<div class="form-group">
		            		<input class="form-control" ng-model="slots" placeholder="No. of available slots" />
		            	</div>
		            </div>
	            </div>
				<div class="row">
		            <div class="col-md-6 col-lg-6">
		            	<div class="form-group">
		            		<select required ng-model="vessel" class="form-control">
		            			<option value="">- Select Vessel -</option>
		            			<option ng-repeat="v in vessels" value="{[v.id]}">{[v.name]}</option>
		            		</select>
		            	</div>
		            </div>
		            <div class="col-md-6 col-lg-6">
		            	<div class="form-group">
		            		<select required ng-model="vesselFlag" class="form-control">
		            			<option value="">- Select Vessel Flag -</option>
		            			<option ng-repeat="v in vesselFlags" value="{[v.id]}">{[v.name]}</option>
		            		</select>
		            	</div>
		            </div>
	            </div>
				<div class="row">
		            <div class="col-md-6 col-lg-6">
		            	<div class="form-group">
		            		<div class="input-group">
		                        <span class="input-group-addon">Post Start</span>
		                        <div class="col-md-4 col-lg-4" style="padding: 0;">
		                        	<select required ng-model="startMonth" class="form-control">
		                        		<option value="">m</option>
			                        	<option ng-repeat="month in months" value="{[$index + 1]}">{[month]}</option>
			                        </select>
		                        </div>
		                        <div class="col-md-4 col-lg-4" style="padding: 0;">
		                        	<select required ng-model="startDate" class="form-control">
		                        		<option value="">d</option>
			                        	<option ng-repeat="date in dates" value="{[date]}">{[date]}</option>
			                        </select>
		                        </div>
		                        <div class="col-md-4 col-lg-4" style="padding: 0;">
		                        	<select required ng-model="startYear" class="form-control">
		                        		<option value="">y</option>
			                        	<option ng-repeat="year in years" value="{[year]}">{[year]}</option>
			                        </select>
		                        </div>
		                    </div>
		            	</div>
		            </div>
		            <div class="col-md-6 col-lg-6">
		            	<div class="form-group">
		            		<div class="input-group">
		                        <span class="input-group-addon">Post End</span>
		                        <div class="col-md-4 col-lg-4" style="padding: 0;">
		                        	<select required ng-model="endMonth" class="form-control">
		                        		<option value="">m</option>
			                        	<option ng-repeat="m in months" value="{[$index + 1]}">{[m]}</option>
			                        </select>
		                        </div>
		                        <div class="col-md-4 col-lg-4" style="padding: 0;">
		                        	<select required ng-model="endDate" class="form-control">
		                        		<option value="">d</option>
			                        	<option ng-repeat="date in dates" value="{[date]}">{[date]}</option>
			                        </select>
		                        </div>
		                        <div class="col-md-4 col-lg-4" style="padding: 0;">
		                        	<select required ng-model="endYear" class="form-control">
		                        		<option value="">y</option>
			                        	<option ng-repeat="year in years" value="{[year]}">{[year]}</option>
			                        </select>
		                        </div>
		                    </div>
		            	</div>
		            </div>
	            </div>
	            <div class="row">
		            <div class="col-md-12 col-lg-12">
		            	<div class="form-group">
		            		<select required ng-model="tradeRoute" class="form-control">
		            			<option value="">- Select Trade Route -</option>
		            			<option ng-repeat="t in tradeRoutes" value="{[t.id]}">{[t.name]}</option>
		            		</select>
		            	</div>
		            </div>
	            </div>
	            <div class="row">
		            <div class="col-md-12 col-lg-12">
		            	<div class="form-group">
		            		<textarea ng-model="description" class="form-control" rows="5" placeholder="(Optional) Enter job description..."></textarea>
		            	</div>
		            </div>
	            </div>
	            <div class="row">
	            	<div class="col-md-12 col-lg-12">
		            	<input class="btn btn-danger" type="submit" value="SUBMIT JOB POST" />
		            </div>
	            </div>
			</div>
		</div>
	</div>
</form>
