<br /><img src="img/company-logo.png" />
<h4>Company Information</h4>
<hr />
<div class="row">
	<div class="col-md-4 col-lg-4">
		Company Name
	</div>
	<div class="col-md-8 col-lg-8">
		<span class="text-muted">{[company.name]}</span>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-lg-4">
		Address
	</div>
	<div class="col-md-8 col-lg-8">
		<span class="text-muted">{[company.address]}</span>
	</div>
</div>
<!-- <div class="row">
	<div class="col-md-4 col-lg-4">
		City
	</div>
	<div class="col-md-8 col-lg-8">
		<span class="text-muted">Paranaque</span>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-lg-4">
		Country
	</div>
	<div class="col-md-8 col-lg-8">
		<span class="text-muted">Philippines</span>
	</div>
</div> -->
<div class="row">
	<div class="col-md-4 col-lg-4">
		POEA License Number
	</div>
	<div class="col-md-8 col-lg-8">
		<span class="text-muted">{[company.poea]}</span>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-lg-4">
		Validity of License
	</div>
	<div class="col-md-8 col-lg-8">
		<span class="text-muted">{[company.validity]}</span>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-lg-4">
		Telephone No.
	</div>
	<div class="col-md-8 col-lg-8">
		<span class="text-muted">{[company.telephone]}</span>
	</div>
</div>
<!-- <div class="row">
	<div class="col-md-4 col-lg-4">
		Mobile No.
	</div>
	<div class="col-md-8 col-lg-8">
		<span class="text-muted">0920-9465339</span>
	</div>
</div> -->
<div class="row">
	<div class="col-md-4 col-lg-4">
		Website
	</div>
	<div class="col-md-8 col-lg-8">
		<span class="text-muted">{[company.website]}</span>
	</div>
</div>
<br />
<h4>Contact Person</h4>
<hr />
<div class="row">
	<div class="col-md-4 col-lg-4">
		Name
	</div>
	<div class="col-md-8 col-lg-8">
		<span class="text-muted">{[company.contact_person.firstname]} {[company.contact_person.lastname]}</span>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-lg-4">
		Designation
	</div>
	<div class="col-md-8 col-lg-8">
		<span class="text-muted">{[company.contact_person.designation]}</span>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-lg-4">
		Contact No.
	</div>
	<div class="col-md-8 col-lg-8">
		<span class="text-muted">{[company.contact_person.telephone]}</span>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-lg-4">
		Fax No.
	</div>
	<div class="col-md-8 col-lg-8">
		<span class="text-muted">{[company.contact_person.fax]}</span>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-lg-4">
		Email Address
	</div>
	<div class="col-md-8 col-lg-8">
		<span class="text-muted">{[company.contact_person.email]}</span>
	</div>
</div>
<br /><br />
<a class="btn btn-danger" ui-sref="jobs.all">GO BACK</a>