<div class="row" ng-repeat="job in jobs">
	<div class="col-lg-1 col-md-1">
		<img src="img/company-logo.png" />
	</div>
	<div class="col-lg-11 col-md-11">
		<div class="row">
			<div class="col-lg-8 col-md-4">
				<span class="middot-tabs all">&middot;</span> <a ui-sref="job({id: job.id})">{[job.rank.name]}</a>
			</div>
			<div class="col-lg-4 col-md-4">
				<span class="text-muted"><span class="glyphicon glyphicon-map-marker"></span> {[job.trade_route.name]}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-lg-8">
				<span class="text-muted">#{[job.id]} Quantity: {[job.slots]} &middot; {[job.department.name]}</span>
			</div>
			<div class="col-lg-4 col-md-4">
				<span class="text-muted">{[job.vessel.name]}</span>
			</div>
		</div>
		<hr />
	</div>
</div>
