<br />
<ul class="nav nav-tabs nav-justified" role="tablist" data-tab="tabs">
	<li><a ui-sref="jobs.all" data-toggle="tab"><span class="middot-tabs all">&middot;</span> ALL</a></li>
	<li><a ui-sref="jobs.urgent" data-toggle="tab"><span class="middot-tabs urgent">&middot;</span> URGENT</a></li>
	<li><a ui-sref="jobs.deployment" data-toggle="tab"><span class="middot-tabs deployment">&middot;</span> REGULAR</a></li>
	<li><a ui-sref="jobs.pooling" data-toggle="tab"><span class="middot-tabs pooling">&middot;</span> POOLING</a></li>
</ul>
<div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="all">
    	<br />
        <div class="col-lg-12 col-md-12">
            <div ui-view></div>
        </div>
    </div>
</div>
